<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>About us</h1>
            <p>Kb is a Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid incidunt aut error laborum veniam voluptatem omnis, quibusdam beatae corporis, tenetur aperiam vero pariatur consectetur est explicabo ipsa delectus laboriosam animi? <br/> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis hic quis vero nihil? Praesentium soluta quas culpa velit ratione iusto tempore provident beatae quaerat nemo inventore a deserunt, pariatur dolores!
            </p>
        </div>
        <div id="mobile-img" class="col"><img id="about-img" src="../../assets/images/about.jpg"></div>
        
    </div>
</div>