$nav-text:  rgba(0,0,0,0.5);
$nav-text-hov: rgba(0,0,0,0.8);




.navbar-brand{
    color:black;
    margin-left:28vw;
    font-size:2em;
    font-family:Arial, Helvetica, sans-serif
}
.nav-link {
    color: $nav-text;
    
    &:hover {
        color: $nav-text-hov;
    }
}

footer{
    margin-top: 2em;
    background-color:#f5f5f5;
   
}

.footer-headers{
    font-size:1.3em;
}

.links{
    color: rgba(0,0,0, 0.5);
    text-decoration: none;
    &:hover {
        color:rgba(0,0,0,0.8);
        text-decoration: none;
    }
}

#cart-icon{
    color: rgba(0,0,0, 0.5);
    text-decoration: none;
    &:hover {
        color:rgba(0,0,0,0.8);
        text-decoration: none;
    } 
}

.cart-tab{
    z-index:1;
}
#cart {
  border-radius: 15px;
  position: absolute;
  background-color: white;
  width:300px;
  min-width: 160px;
  max-width:300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.cart-items{
    margin-left:0.5em
}

.cart-btn {
    margin-top:2em;
    margin-bottom:0.4em;
    text-align: center;
    
}
#cart-img{
    width:80%;
    height:auto;
}

.items{
    animation: items 0.5s ease-in;
}

@keyframes items{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.itemsout{
    animation: itemsout 0.5s ease-in;
}

@keyframes itemsout{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@media screen and (max-width: 375px) {
    body{
        font-size: 1.5em;
    }
    img{
        height:auto !important;
        width:50vh !important;
    }
    .navbar-brand{
    display: none;
    }
    #cart-img{
        width:100% !important;
        height:auto !important;
    }
    #cart h5 {
        font-size:1em !important;
    }
    #cart select {
        width:50% !important;

    }
    footer{
        margin-top: 2em;
        background-color:#f5f5f5;
        margin-bottom:5em;
    }
  }