<div>
  <nav class="navbar navbar-expand  ">
    <a class="navbar-brand" href="#">KB</a>
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item ">
        <a class="nav-link" routerLink= "home">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink= "mens">Men's</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink= "womens">Women's</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" >
    <li class="nav-item ">
      <a class="nav-link" routerLink= "checkout">Cart</a>
    </li>
    </ul>
  </nav>
  <div class="container mt-3">
    <router-outlet>

      
    </router-outlet>
  </div>
  <footer>
    <div class="container pt-5 footer-bg">
    <div class="row">
      <div class="col-md">
        
      </div>
      <div class="col-md">
        <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
          <div class="mb-4 footer-headers">Products</div>
          <ul class="list-group" >
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="links" routerLink= "men">Men</a>
            </li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="links" routerLink= "women">Woman</a>
            </li>
         

          </ul>
          
        </div>
        <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
          <div class="mb-4 footer-headers">Company</div>
          <ul class="list-group" >
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="links" routerLink="about">About</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
          <div class="mb-4 footer-headers">Contact</div>
          <ul class="list-group" >
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="links"href="/">Facebook</a>
            </li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="links"href="/">Twitter</a>
            </li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="links" href="/">Linkdin</a>
            </li>
         
         

          </ul>
        </div>
       
        
        
      </div>
    </div>

    </div>
  </footer>
</div>