<div class="row" >
      
    <div id="size" class="col-sm filters" >
      <select class="selectors" [(ngModel)]="size">
        <option selected>Size</option>
        <option value="Small">S</option>
        <option value="Medium">M</option>
        <option value="Large">L</option>
      </select>
    </div>
    <div id="sort" class="col-sm filters">
      <select class="selectors" [(ngModel)]="sort">
        <option selected>Sort by</option>
        <option value="Low">Lowest price</option>
        <option value="High">Highest price</option>

      </select>
    </div>
    <div class="col-sm filters">
      <button class="btn btn-outline-info btn-sm" type="button" (click)="applyFilter()">Apply</button>
    </div>
  </div>
<div class="row">
  
  <div class="col-sm-4 card-deck" id="card" *ngFor="let clothes of products; let i = index">
    
    <div class="card text-left mb-3" >
        <a routerLink="/detail">
          <img class="card-img-top" id="img" src="{{clothes.img}}" alt="Card image cap">
        </a>  
        
        <div class="card-body list-group-item">
        <h5 class="card-title">{{clothes.title}}</h5>
        <small class="text-muted">{{clothes.price}}</small>
      </div>
    </div>
  </div>
</div>