.cart-items{
    margin-left:0.5em
}

#cart-img{
    width:80%;
    height:auto;
}

#cart {
  border-radius: 15px;
  height:50vh;
  background-color: white;
  width:800px;
  min-width: 160px;
  max-width:800px;

 
}

#empty{
  
  font-size:2em;
}

