$tab-width:49%;
$tab-height: 60%;
$tab-padding: 5em;

.mens-tab{
  
    width: $tab-width;
    height: $tab-height;
    padding:$tab-padding;
    margin-right:0.5em;
}

.womens-tab{
    
    width:$tab-width;
    height:$tab-height;
    padding:$tab-padding;
    margin-left:0.5em;
}