
  <div class="home"></div>

<div class="container mt-3">
   <div class="container">
     <div class="row">
      <div class="mens-tab">
        <div class="card text-left mb-3" *ngIf="isDatam" >
          <a routerLink="/mens">
            <img class="card-img-top" id="img" src="{{m.img}}" alt="Card image cap">
          </a>  
          
          <div class="card-body list-group-item">
          <h5 class="card-title">Shop Men's</h5>
          
        </div>
      </div>

      </div>


      <div class="womens-tab">
        <div class="card text-left mb-3" *ngIf="isDataw" >
          <a routerLink="/womens">
            <img class="card-img-top" id="img" src="{{w.img}}" alt="Card image cap">
          </a>  
          
          <div class="card-body list-group-item">
          <h5 class="card-title">Shop Women's</h5>
          
        </div>
      </div>

      </div>
    </div>
   </div>
  </div>