

#image {
    width:70%;
    height:auto;
}
#info{
    margin-left:2em;
}
#second {
    margin-left:2.5em;
    margin-top:5em;
}

#sizes{
    margin-bottom:5em;
}
#sizes button {
    color:black;
    border: 0;
    margin-right:0.5em;
}

@media screen and (max-width: 768px) {
    #image {
        width:25vh;
    }
    #info {
        margin-left:0em;
    }
    #second{
        margin-left:0em;
    }
}


@media screen and (max-width: 450px) {
    #image {
        width:25vh;
    }
    #info {
        margin-left:0em;
    }
    #second{
        margin-left:0em;
    }
    
  }