$no-border:0px;

#img{
    width:100%;
    height: 20em;
    object-fit: contain;
    
}

.filters{
    flex-grow: 0;
    margin-bottom: 2em;
}
hr {
    margin-left:0;
    width:30%
}
.card{
    border:$no-border
}
.card-body{
    border:$no-border;
}


.selectors{
    
    position: relative;
    border:$no-border;
    background-color: white;
    &:focus {
        outline:none;
    }
}
