<div class="container">
    <div class="row">
      <div class="col-sm-4 card-deck" id="card" *ngFor="let in of counter(30); let i = index">
        
        <div class="card border-light text-left mb-3" >
            <img class="card-img-top" id="img" src="https://cdn.shopify.com/s/files/1/1735/5687/products/levis-blue-baggy-3.png?v=1490911974" alt="Card image cap">
            <div class="card-body list-group-item">
            <h5 class="card-title"> title</h5>
            <small class="text-muted">$134</small>
          </div>
        </div>
      </div>
    </div>
  </div>