$tab-width:49%;
$tab-height: 60%;
$tab-padding: 5em;

.mens-tab{
  
    width: $tab-width;
    height: $tab-height;
    padding:$tab-padding;
    margin-right:0.5em;
}

.womens-tab{
    
    width:$tab-width;
    height:$tab-height;
    padding:$tab-padding;
    margin-left:0.5em;
}

#mobile-h1{
    display:none;
}






.card-title {
    text-align:center;
}

.home {
    background-image: url(../../assets/images/home.jpg);
    background-size: cover;
    border-radius: 15px;
    
}


#jumbo {
    padding-top:20vh
}

#jumbo h1{
    text-align:center;
}

@media screen and (min-width: 1901px) {
	.card-img-top{
		height: 50vh;
	}
	  .home {
        height:50vh;
        margin: 0 2em 0 2em;
		}
}
@media screen and (max-width: 1900px) {
    .mens-tab{
		
        width: $tab-width;
        height: $tab-height!important;
        padding:$tab-padding;
        margin-right:0.5em;
    }
    
    .womens-tab{
        
        width:$tab-width;
        height:$tab-height;
        padding:$tab-padding;
        margin-left:0.5em;
    }
    .home {
        width:95vw;
        height:70vh;
        margin-left:2vw;
        
        
    }
    #mobile-h1{
        display: none;
       
    }
  }



@media screen and (max-width: 1100px) {
    .womens-tab{
    
        width:45%;
        height:auto;
        padding:1em !important;
        margin-left:0.5em;
    }
    .mens-tab{
  
        width:45%;
        height:auto;
        padding:1em !important;
        margin-left:0.5em;
    }
  
    .home {
        width:100vw;
        height:50vh !important;
        margin-left:0vw;
        margin-top:0vh;
        
    }
    #mobile-h1{
        display: none;
       
    }
  }


@media screen and (max-width: 768px) {
    .womens-tab{
    
        width:45%;
        height:auto;
        padding:1em;
        margin-left:0.5em;
    }
    .mens-tab{
  
        width:45%;
        height:auto;
        padding:1em;
        margin-left:0.5em;
    }
  
    .home {
        width:100vw;
        height:40vh !important;
        margin-left:0vw;
        margin-top:0vh;
        
    }
    #mobile-h1{
        display: none;
       
    }
  }

@media screen and (max-width: 720px) {
    .womens-tab{
    
        width:100%;
        height:auto;
        padding:1em;
        margin-left:0.5em;
    }
    .mens-tab{
  
        width:100%;
        height:auto;
        padding:1em;
        margin-left:0.5em;
    }
    .home {
        background-image: none !important;
        
        width:95vw;
        height:40vh !important;
        margin-left:2vw;
        
        
    }
    #mobile-h1{
        display: block;
        text-align:center;
    }
    #fancy{
        font-weight: 200;
        font-size:2em;
        letter-spacing: 0.2em;
    }
  }